<!DOCTYPE html>
<!--[if lte IE 9]><html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <!--<title>vast and vpaid</title>-->
    <title>Vendri</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    <!-- VideoJs required styles-->
    <link rel="stylesheet" type="text/css" href="demo/videojs_5/video-js.css"/>

    <!-- VideoJs.vast.vpaid required styles-->
    <link rel="stylesheet" type="text/css" href="styles/videojs.vast.vpaid.css"/>

    <!-- DEMO required styles-->
    <link rel="stylesheet" type="text/css" href="demo/styles/demo.css"/>

    <!-- Web Fonts -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">


    <script type="text/javascript">
        // this is mandatory for IE8 !!!!!
        document.createElement('video');
        document.createElement('audio');
        document.createElement('track');
    </script>

</head>
<body>
<h3 class="title main">vendri</h3>
<div class="container">
    <div class="row">
        <!--<h4>VideoJs <%=version%> Demo</h4>-->
        <div class="twelve columns">
            <div class="vast-container">
                <form id="vast-vpaid-form">
                    <div class="row">
                        <div class="one-third column">
                            <input type="radio" name="vast-type" class="tag-type-radio" id="vast-tag-radio">
                            <label for="vast-tag-radio">VAST/VPAID tag</label>
                        </div>
                        <div class="one-third column">
                            <input type="radio" name="vast-type" class="xml-type-radio" checked="checked" id="vast-sample-radio">
                            <label for="vast-sample-radio">VAST/VPAID sample tags</label>
                        </div>
                        <div class="one-third column">
                            <input type="radio" name="vast-type" class="custom-type-radio" id="vast-custom-radio">
                            <label for="vast-custom-radio">VAST/VPAID custom XML</label>
                        </div>
                    </div>
                    <div class="row tag-type">
                        <div class="twelve columns">
                            <label for="vast-tag">VAST Tag</label>
                            <input id="vast-tag" type="text" name="vast-type" class="u-full-width tag-el">
                        </div>
                    </div>
                    <div class="row xml-type">
                        <div class="twelve columns">
                            <label for="vast-samples">VAST/VPAID sample tags</label>
                            <select id="vast-samples" class="u-full-width xml-el">
                                <% demoAds.forEach( function ( demoAd, index ) { %>
                                <option <% if(index===0) {%>selected="selected"<% } %> value="<%= demoAd.url %>"><%= demoAd.label %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="row custom-type">
                        <div class="twelve columns">
                            <textarea class="u-full-width custom-el" placeholder="Sample VAST XMl"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve columns">
                            <a class="button button-primary" href="#">Update</a>
                            <a class="button button-info pause" style="display:none;" href="#">Pause Ad</a>
                            <a class="button button-info resume" style="display:none;" href="#">Resume Ad</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="twelve columns">
                            <div class="">
                                <video id="" class="" preload="auto" controls poster="http://vjs.zencdn.net/v/oceans.png">
                                    <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
                                    <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm">
                                    <source src="http://vjs.zencdn.net/v/oceans.ogv" type="video/ogg">
                                    <p class="">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                                </video>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <p><span>
            <a href='index_5.html'>VideoJS Demo</a>
        </span></p>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function( event ) {
        var vast_tag_radio = document.getElementById( 'vast-tag-radio' );
        vast_tag_radio.addEventListener('click', function( event ) {
            updateMenus();
        });

        var vast_sample_radio = document.getElementById( 'vast-sample-radio' );
        vast_sample_radio.addEventListener('click', function( event ) {
            updateMenus();
        });

        var vast_custom_radio = document.getElementById( 'vast-custom-radio' );
        vast_custom_radio.addEventListener('click', function( event ) {
            updateMenus();
        });
        updateMenus();
    });

    function updateMenus(){
        var vast_tag_menu = document.getElementsByClassName( 'row tag-type' ); // this is the menu for vast tags
        var vast_sample_menu = document.getElementsByClassName( 'row xml-type' ); // this is the menu for vast tags
        var vast_custom_menu = document.getElementsByClassName( 'row custom-type' ); // this is the menu for vast tags
        console.log( 'menus updated' );
    }
</script>
</body>

</html>
